
/* Inicio cabeçalho */

.cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: white;
}

.area{
    padding: 1rem;
    box-sizing: border-box;
}

.area--login{
    padding: 5rem 2.5rem 5rem 2.5rem;
}

.cabecalho__logo{
    width: 6rem;
}


/* Inicio Icone de busca mobile */

.cabecalho__busca{
    order: 1;
}

.cabecalho__busca--icone{
    height: 1.2rem;
    width: 1.2rem;
}

/* Fim Icone de busca mobile

/* Inicio Barra de busca */

.cabecalho__busca--desktop{
    display: none;
    width: 393px;
    height: 40px;
    padding: 8px 8px 8px 8px;
    box-sizing: border-box;
    border-radius: 20px;
    border: 0px ;
    background-color: var(--cinza_05);
    opacity: 0.5;
    order: 1;
}


.cabecalho__busca--search{
    background-position: right 1.75em center;
    background-repeat: no-repeat;
    background-image: url(../images/lupa/lupa.svg);
}

/* Fim da Barra de busca */

/* Fim cabeçalho */

/* inicio banner */

.banner{
    background-image: url(../images/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}

.banner__area{
    padding-left: 1rem;
    padding-bottom: 1rem;
    padding-top: 4.875rem;
}

.banner__titulo{
    margin-bottom: 8px;
    font-size: 22px;
    font-weight: 700;
    font-family: inherit;
    color: white;
}

.banner__texto{
    font-size: 14px;
    font-weight: 600;
    font-family: inherit;
    color: white;
    margin-bottom: 8px;
}


/* Fim banner */


/* Inicio Seção de Produtos padrao */

.secao-produto{
    display: inline-block;
    padding-bottom: 2rem;
    width: 100%;
}

.secao-produto__texto{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.texto__ver-tudo{
    display: flex;
    align-items: center;
    font-size: 1rem;
    color: var(--azul);
    font-size: 16px;
    font-weight: 700;
}

.texto__ver-tudo img{
    margin-left: 0.75rem;
}

.secao-produto__titulo{
    margin-bottom: 8px;
    font-size: 22px;
    font-weight: 700;
}

.secao-produto__cards{
    display: flex;
    flex-flow: row wrap;
}

.secao-produto__card{
    display: inline-block;
    width: calc(50% - 0.5rem); 
    margin-right: 1rem;
}

.secao-produto__card:nth-child(2n){
    margin-right: 0;
}
.secao-produto__card:nth-child(5n){
    display: none;
}
.secao-produto__card:nth-child(6n){
   display: none;
}

.card__image{
    margin-top: 8px;
    width: 100%;
    height: 10.875rem;
    object-fit: cover;
}

.card__titulo{
    margin-top: 8px;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 8px;
}

.card__texto{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 8px;
}

.card__link{
    color: var(--azul);
    font-size: 14px;
    font-weight: 700;
}

/* Inicio Footer */
.footer{
    background-color: var(--azul_claro);
    font-size: 16px;
    font-weight: 400;
    padding: 1.5rem 1rem 1rem 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:center;
}


.footer__lista{
    line-height: 1rem;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    padding: 24px 0 32px 0;
}

.footer__lista li{
    margin-bottom: 16px;
}

.form-contato-titulo{
    font-weight: bold;
}

.contato__form{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form__titulo{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 8px;
}

.input__area{
    position: relative;
    margin-bottom: 1rem;
}

.form__nome{
    position: absolute;
    padding-top: 0.5rem;
    padding-left: 0.75rem;
    font-size: 12px;
    opacity: 0.5;
}

.form__input{
    box-sizing: border-box;
    width: 100%;
    padding-top: 1.5rem;
    padding-left: 0.75rem;
    padding-right: 1rem;
    font-size: 16px;
}

.form__input::placeholder{
    opacity: 0.5;
    font-family: 'Raleway', sans-serif;
}

.form__mensagem{
    resize: none;
    margin-bottom: 8px;
    min-height: 5.175rem;
    padding-top: 1em;
    padding-right: 0.75rem;
    padding-left: 0.75rem;
    color: #464646;
}

.form__mensagem::placeholder{
    opacity: 0.5;
    font-family: 'Raleway', sans-serif;
}

.caixa-escrita{
    border-radius: 4px;
    border: 0;
    outline: 0;
    box-shadow: 0 1px 1px var(--preto_30);
}

.footer__desenvolvido{
    background-color: white;
    padding: 2rem 4rem 2rem 4rem;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

/* Fim Footer */

/* Inicio Login */

.form__titulo--login{
    text-align: center;
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 700;
}

.form__login{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__input--login{
    padding-top: 0.5rem;
    padding-bottom: 0.75rem;
    padding-left: 0.75rem;
    font-size: 16px;
}

.caixa-escrita--login{
    margin-bottom: 16px;
    height: 3rem;
}

/* Fim login */

 /* Produto */

 .produto{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding-bottom: 32px;
}

.produto__texto{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding-top: 8px;
    padding-right: 1rem;
    padding-left: 1rem;
}

.produto__image{
    width: 100%;
    object-fit: cover;
}

.produto__titulo{
    font-size: 22px;
    font-weight: 500;

}

.produto__preco{
    padding-top: 8px;
    font-size: 16px;
    font-weight: 700;

}

.produto__descricao{
    padding-top: 8px;
    font-size: 14px;

}

/* Todos os Produtos */

.image__area{
    position: relative;
}
.card__icones{
    position: absolute;
    right: 0;
    padding-top: 1.25rem;
    padding-right: 0.75rem;
}

.card__icone:first-child{
    margin-right: 1.5rem;
}

.secao-produto__card--adm:nth-child(2n){
    margin-right: 0;
}
.secao-produto__card--adm:nth-child(5n){
    display: inline-block;
}
.secao-produto__card--adm:nth-child(6n){
   display: inline-block;
}
.secao-produto__texto--adm{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 32px;
    margin-bottom: 16px;
}

.secao-produto__texto--adm .secao-produto__titulo{
    margin-bottom: 16px;
}



/* Inicio Responsividade */

/* Setando valores para tablets */

@media screen and (min-width:768px){


    /* Botao */
    .botao--login{
        width: 166px;
    }

    /* Area padrao */

    .area{
        padding: 0 2rem 0 2rem;
    }

    .area--login{
        padding: 2.625rem 16rem 4rem 16rem;
    }

    /* Cabeçalho */

    .cabecalho{
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .cabecalho__busca--desktop{
        display: inline-block;
        width: 240px;
        order: 0;
        margin: 0 auto 0 2rem;
    }

    .cabecalho__busca{
        display: none;
    }

    /* Banner */

    .banner{
        margin-bottom: 32px;
    }

    .banner__area{
        padding-left: 2rem;
        padding-top: 161px;
        padding-bottom: 32px;
    }

    .banner__titulo{
        font-size: 52px;
        margin-bottom: 16px;
    }

    .banner__texto{
        font-size: 22px;
        margin-bottom: 16px;
    }

    /* Seção de produtos */

    .secao-produto{
        padding-bottom: 64px;
    }

    .secao-produto:nth-child(3n){
        padding-bottom: 32px;
    }

    .secao-produto__card{
        display: inline-block;
        width: calc(25% - 0.75rem); 
        margin-right: 1rem;
    }

    .secao-produto__card:nth-child(2n){
        margin-right: 1rem;
    }
    .secao-produto__card:nth-child(4n){
        margin-right: 0;
    }

    /* Produto */
    .produto{
        flex-direction: row;
        align-items: flex-start;
        padding: 2rem 2rem 4rem 2rem;
    }

    .produto__image{
        width: 15.875rem;
    }

    .produto__texto{
        padding: 0 0 0 1rem;
        width: calc(62.35% - 0.5rem);
    }

    /* Todos os Produtos */

    .secao-produto__texto--adm{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 32px;
        margin-bottom: 16px;
    }    

    .secao-produto__texto--adm .secao-produto__titulo{
        margin-bottom: 0;
    }
    

    

    /* Footer */

    .footer{
        padding-top: 32px;
        gap: 5.875rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items:flex-start;
    }

    .footer__lista{
        text-align: left;
    }

    .footer__lista li{
        margin-bottom: 24px;
    }
}

/* Setando valores para desktop */

@media screen and (min-width:1440px){

    /* Botões */

    .botao--login{
        width: 182px;
        height: 51px;
    }

    .botao--banner{
        width: 130px;
        height: 51px;
    }

    .botao--footer{
        width: 165px;
        height: 51px;
    }

    .botao--iniciar{
        min-width: 100%;
    }

    /* Area padrao */

    .area{
        padding: 0 9.5rem 0 9.5rem;
    }

    .area--login{
        padding: 5.75rem 32rem 5.75rem 32rem;
    }


    /* Cabeçalho */

    .cabecalho{
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .cabecalho__logo{
        width: 11rem;
        height: 50px;
    }
    .cabecalho__busca{
        display: none;
    }

    .cabecalho__busca--desktop{
        display: inline-block;
        width: 393px;
        margin: 0 auto 0 2rem;
        order: 0;
    }

    /* Banner */

    .banner{
        margin-bottom: 64px;
    }

    .banner__area{
        padding-top: 150px;
        padding-bottom: 32px;
    }

    .banner__area{
        padding-left: 9.5rem;
    }

    /* Seção de produtos */

    .secao-produto__titulo{
        font-size: 32px;
    }
    .secao-produto__card{
        display: inline-block;
        width: calc(16.66% - 0.83rem); 
        margin-right: 1rem;
    }

    .secao-produto__card:nth-child(2n){
        margin-right: 1rem;
    }
    .secao-produto__card:nth-child(5n){
        display: inline-block;
    }
    .secao-produto__card:nth-child(6n){
       display: inline-block;
       margin-right: 0;
    }

    /* Seção de Login */

    .form__titulo--login{
        font-size: 18px;
    }

    /* Produto */
    .produto{
        flex-direction: row;
        align-items: center;
        padding: 4rem  9.5rem 4rem  9.5rem;
    }

    .produto__image{
        width: calc(50% - 0.5rem);
        max-height: 400px;
    }

    .produto__texto{
        padding: 0 0 0 1rem;
        width: calc(50% - 0.5rem);
        color: #464646;
    }

    .produto__titulo{
        font-size: 52px;
        font-weight: 500;
    }

    .produto__descricao{
        font-size: 16px;
    }

    /* Todos os Produtos */

    .secao-produto__texto--adm{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 64px;
        margin-bottom: 16px;
    }    

    .secao-produto__texto--adm .botao{
        font-size: 16px;
        font-weight: 400;
        width: fit-content;
        height: 51px;
        padding: 1rem;

    }



    /* Footer */

    .footer{
        padding-top: 64px;
        padding-bottom: 64px;
        gap: 7rem;
    }

    .footer__info{
        display: flex;
        gap: 7rem;
    }

    .footer__lista{
        padding-top: 0;
        padding-bottom: 0;
        min-width: 11rem;
    }

    .footer__lista li:last-child{
        margin-bottom: 0;
    }
}

